@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	font-family: 'Poppins', 'san serif';
}

.input {
	@apply p-4 rounded-md ml-6 mr-6;
}
.card {
	@apply flex flex-col gap-6 text-center justify-center items-center;
}
.form-container {
	@apply container w-80 pt-10 pb-10 rounded-md bg-pink-300;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.action-btn {
	@apply bg-gray-400 rounded-full hover:bg-slate-600 p-1 w-28 h-10;
}
